.total{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    font-weight: bold;
    background-color: #3785A6;
    padding: 10px;
    border-radius: 8px;
}

.valeurRecettes{
    color: rgb(44, 44, 109);
}

.valeurDepenses{
    color: red;
}

.valeurEnCaisse{
    color: rgb(36, 221, 67);
}