<div class="home">
    <div class="btn-group">
        <button class="btn btn-vehicules" (click)="pageVehicules()">Gestion des véhicules</button>
        <button class="btn btn-recettes" (click)="pageRecettes()">Gestion des recettes</button>
        <button class="btn btn-depenses" (click)="pageDepenses()">Gestion des dépenses</button>
        <button class="btn btn-conducteurs" (click)="pageConducteurs()">Gestion des conducteurs</button>
    </div>

    <div class="img-voiture">
        <img src="../../assets/images/taxi1.webp" alt="taxi">
    </div>
</div>